attrs==23.2.0
cachetools==5.3.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
discord-webhook==1.3.1
google-auth==2.28.1
google-auth-oauthlib==1.2.0
gspread==6.0.2
h11==0.14.0
idna==3.6
lxml==5.1.0
oauthlib==3.2.2
outcome==1.3.0.post0
packaging==23.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
PyInputPlus==0.2.12
PySimpleValidate==0.2.12
PySocks==1.7.1
python-dotenv==1.0.1
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
selenium==4.18.1
sniffio==1.3.0
sortedcontainers==2.4.0
stdiomask==0.0.6
StrEnum==0.4.15
trio==0.24.0
trio-websocket==0.11.1
typing_extensions==4.9.0
urllib3==2.2.1
webdriver-manager==4.0.1
wsproto==1.2.0
